.sidebar {
  border-right: 1px solid var(--border-color);
  overflow: auto;
  flex-shrink: 0;
  width: 0;
  
  &.visible {
    flex-basis: 240px;
    padding: 26px;
  }

  @media screen and (max-width: 945px) {
    display: none;
  }

  &-title {
    color: var(--inactive-color);
    margin-bottom: 14px;
  }
}

.sidebar-wrapper + .sidebar-wrapper {
  margin-top: 20px;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  text-decoration: none;
  a {
    text-decoration: none;
    color: var(--theme-color);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
    &:hover {
      background-color: var(--hover-menu-bg);
    }

    span {
      text-decoration: none !important;
      text-transform: capitalize;
    }
  }
  svg {
    width: 16px;
    margin-right: 8px;
  }
}
